brotlipy
certifi==2021.10.8
cffi
chardet
charset-normalizer
Flask
Flask-Bootstrap==3.3.7.1
Flask-Cors
flask-swagger-ui==3.36.0
Flask-WTF==1.0.0
Jinja2
PyGithub
pyOpenSSL
pyparsing
PyYAML==3.13
rdflib
webencodings==0.5.1
WTForms==3.0.0
gunicorn
